.store-img img {
    width: 80%;
    height: 220px;
}

.store-carousel {
    padding: 15px;
    margin: 15px;
}
.slick-prev:before {
    content: "<";
    color: rgb(231, 228, 228);
    font-size: 30px;
  }
  
  .slick-next:before {
    content: ">";
    color: rgb(231, 228, 228);
    font-size: 30px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }